#key{
    background-color: orange;
    border: transparent;
    border-radius: 5px;
    padding: 10px;
    color: white;
}
#new-game{
    background-color: green;
    border: transparent;
    border-radius: 5px;
    padding: 10px;
    color: white;
}